In [1]:
CREATE DATABASE School

In [2]:
Use School;

CREATE TABLE Positions
(
    PositionId INT IDENTITY(1, 1) PRIMARY KEY,
    PositionName VARCHAR(50) NOT NULL
);

CREATE TABLE Staff
(
    StaffId INT IDENTITY(1, 1) PRIMARY KEY,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    PersonalNumber VARCHAR(12) NOT NULL,
    Position INT FOREIGN KEY REFERENCES Positions(PositionId) NOT NULL
);

CREATE TABLE Classes
(
    ClassId INT IDENTITY(1, 1) PRIMARY KEY,
    ClassName VARCHAR(50) NOT NULL,
    MentorId INT FOREIGN KEY REFERENCES Staff(StaffId)
);

CREATE TABLE Students
(
    StudentId INT IDENTITY(1, 1) PRIMARY KEY,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    PersonalNumber VARCHAR(12) NOT NULL,
    ClassId INT FOREIGN KEY REFERENCES Classes(ClassId) NOT NULL
);

CREATE TABLE Subjects
(
    SubjectId INT IDENTITY(1, 1) PRIMARY KEY,
    SubjectName VARCHAR(50) NOT NULL
);

CREATE TABLE Grades
(
    Grade CHAR PRIMARY KEY,
    Credit DECIMAL(3, 1)
);

CREATE TABLE Student_Grades
(
    GradeId INT IDENTITY(1, 1) PRIMARY KEY,
    GradeLevel CHAR FOREIGN KEY REFERENCES Grades(Grade),
    TeacherId INT FOREIGN KEY REFERENCES Staff(StaffId),
    StudentId INT FOREIGN KEY REFERENCES Students(StudentId),
    SubjectId INT FOREIGN KEY REFERENCES Subjects(SubjectId),
    GradeDate DATE NOT NULL
);

In [8]:
Use School;
INSERT INTO Grades (Grade, Credit)
VALUES
    ('A', 20),
    ('B', 17.5),
    ('C', 15),
    ('D', 12.5),
    ('E', 10),
    ('F', 0);

SELECT *
FROM Grades;

Grade,Credit
A,20.0
B,17.5
C,15.0
D,12.5
E,10.0
F,0.0